/* src/components/Projects/Projects.css */

.projects-section .container {
    max-width: 960px;
}
.projects-section {
    background-color: #ffffff;
    padding: 100px 0;
}

.projects-header {
    text-align: center;
    margin-bottom: 60px;
}

.project-card {
    background-color: white;
    border-radius: 1.2rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    padding: 2rem;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    max-width: 850px;
    margin: 0 auto 40px auto;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project-image:hover {
    transform: scale(1.03);
}

.project-description {
    padding: 0 1rem;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tech-badge {
    color: #ffffff; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); 
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.project-links {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  width: 100%; 
  margin-top: 50px; 
}

.project-links a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
    margin-right: 20px;
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.project-links a:hover {
    color: #007bff;
}

.link-disabled {
  color: #999; 
  font-weight: 600;
  margin-right: 20px;
  opacity: 0.7;
  cursor: not-allowed; 
  display: inline-flex;
  align-items: center;
  gap: 5px; 
}


/* --- Penyesuaian Mobile --- */
@media (max-width: 991.98px) {
    .projects-section {
        padding: 30px 0;
    }
    .project-card .row {
        display: flex;
        flex-direction: column;
    }

    .project-card .col-lg-6 {
        order: 0 !important; 
    }

    .project-description {
        padding-top: 2rem;
    }

    .tech-stack {
        justify-content: center;
    }

    .project-links {
        margin-top:20px;
        justify-content: center;
        display: flex;
    }
}